PoroPilot
GolemHelper/backend/riot_api_cache.sqlite
GolemHelper/backend/.env
GolemHelper/v1
GolemHelper/frontend/node_modules
GolemHelper/frontend/.next
GolemHelper/frontend
GolemHelper/frontendjs/.next
GolemHelper/frontendjs/node_modules
.*.env
.vscode

GolemHelper/backend/__pycache__
GolemHelper/backend/app/__pycache__